/*
Vivaldi GX - Version: 1.2
Written by user GabeVilela
With a few code samples extracted from user Tam710562's "Opera GX" mod
*/
/* Some colors */
:root{
  --WButtonHoverBg: #38444f;
  --GXtransition: 0.2s;
  --GXaccentColor: #14111a;
  --GXcolorAccentFgFaded: #858488;
  --GXcolorAccentFg: #f6f6f6;
  --GXaccentColorIncognito: #221f29;
}
/* Add transition effect to some elements */
#browser .window-buttongroup>button,#browser .window-buttongroup>button:hover,.vivaldi,.vivaldi:hover,.toggle-trash>button,.toggle-trash>button:hover,.newtab>button,.newtab>button:hover,.tab-position .tab:not(.active):hover,.tab-position .tab.active.tab-group .tab-indicator:not(.active):hover,.tab-position .tab:not(.active).tab-group .tab-indicator:not(.active):hover,.tab-position .tab:not(.active).tab-group .tab-indicator.active:hover,.toolbar-addressbar .button-toolbar>button,.toolbar-addressbar .button-toolbar>button:hover,.addressfield,.addressfield:hover,
.toolbar-insideinput>div>button,.toolbar-insideinput>div>button:hover:not(.button-pressed),.toolbar-insideinput>div>.button-pressed,.toolbar-insideinput>div>.button-pressed:hover,.SiteInfoButton,.SiteInfoButton:hover,.button-addressfield.SiteInfoButton.secure,.button-addressfield.SiteInfoButton.secure:hover,.iconmenu-container,.iconmenu-container:hover,.searchfield,.searchfield:hover,.OmniLinkItem:not(.OmniLinkItem--Highlighted),.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover,.bookmarkbarItem,.bookmarkbarItem:hover,#switch button,#switch button:hover,.toolbar-statusbar>.button-toolbar>button,.toolbar-statusbar>.button-toolbar>button:hover,.window-buttongroup,.window-buttongroup button:hover,#notes-panel .notes-editor .shim,#notes-panel .notes-editor .shim:hover,#notes-panel textarea.note.editor,#notes-panel textarea.note.editor:hover{
  transition: var(--GXtransition) !important;
}
/* ===================================================================== SECTOR START === */
/* TOP BUTTONS */
/* Menu icon and window buttons */
#browser, #browser + div, #browser + div + div,.window-buttongroup button{
  fill: var(--colorAccentBg) !important;
}
/* Window buttons hover */
#browser .window-buttongroup button:hover{
  fill: var(--HighlightBg) !important;
  background-color: var(--WButtonHoverBg) !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Menu button*/
/* Icon change */
#titlebar .vivaldi svg>path{
  d: path('M11,20.9h-.6a3.2,3.2,0,0,1-2.3-1.7L5.1,14l-2-3.4L.6,6.1A3.4,3.4,0,0,1,.4,2.9,3.3,3.3,0,0,1,3,1.1,3,3,0,0,1,6.1,2.7L7.3,4.8l.5.8.6,1.1L9.8,9.1a3.2,3.2,0,0,0,3.3,1.6A3.2,3.2,0,0,0,16,8.3a2.9,2.9,0,0,0,.1-.9,4.5,4.5,0,0,0-.4-1.7,3.3,3.3,0,0,1,.1-2.9,3.3,3.3,0,0,1,2.4-1.6,3.2,3.2,0,0,1,2.8,1,3.2,3.2,0,0,1,.8,2.9,5.2,5.2,0,0,1-.6,1.4v.2L14,19A3.4,3.4,0,0,1,11,20.9ZM3.4,2.4H3.2a2,2,0,0,0-1.6,1,2.1,2.1,0,0,0,.2,2L4.3,9.9l2,3.4,3,5.2a1.8,1.8,0,0,0,1.3,1,2,2,0,0,0,2.2-1.2L20,6V5.8a4.1,4.1,0,0,0,.5-1,1.9,1.9,0,0,0-.5-1.7,1.8,1.8,0,0,0-1.6-.6,1.9,1.9,0,0,0-1.4,1,2,2,0,0,0,0,1.7,5.8,5.8,0,0,1,.5,2.1h0a4.2,4.2,0,0,1-.2,1.4,4.5,4.5,0,0,1-4,3.4A4.5,4.5,0,0,1,8.7,9.8L7.3,7.4,6.6,6.3l-.5-.8L5,3.4A1.7,1.7,0,0,0,3.4,2.4Z');
}
/* Menu button hover */
.vivaldi:hover{
  background-color: var(--WButtonHoverBg) !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* New tab button and Trash button */
.color-behind-tabs-off .toolbar-tabbar > .button-toolbar > button{
  color: var(--colorAccentBg) !important;
}
/* Trash button hover */
.toggle-trash>button:hover{
  background-color: var(--WButtonHoverBg) !important;
  border-radius: 0px;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Trash button icon */
/* Every strokes */
.toggle-trash button svg{
}
/* First stroke */
.toggle-trash button path.trashicon-lid{
  d: path('M5.7,14.1V12.5a.4.4,0,0,1,.4-.4l7.8-.2,7.9.2a.4.4,0,0,1,.4.4v1.6a.4.4,0,0,1-.4.4l-7.9-.2-7.8.2A.4.4,0,0,1,5.7,14.1');
}
/* Second bar */
.toggle-trash button path.trashicon-content{
  d: path('M5.7,10.1V8.5a.4.4,0,0,1,.4-.4L13.9,8l7.9.2a.4.4,0,0,1,.4.4v1.6a.4.4,0,0,1-.4.4l-7.9-.2-7.8.2A.4.4,0,0,1,5.7,10.1Z');
}
/* Increasing second bar opacity */
.button-toolbar.toggle-trash > button svg .trashicon-content{
  opacity: 1 !important;
}
/* Arrow */
.toggle-trash button path.trashicon-bin{
  d: path('M9.4,17.1,10.5,16a.4.4,0,0,1,.5,0l2.7,2.6a.4.4,0,0,0,.5,0L16.8,16a.4.4,0,0,1,.5,0l1.2,1.1a.4.4,0,0,1,0,.5l-4.2,4.3a.4.4,0,0,1-.5,0L9.4,17.6A.4.4,0,0,1,9.4,17.1Z');
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* New tab button */
/* Icon */
.newtab button svg>path{
  d: path('M15,12.7V8.3a.3.3,0,0,0-.3-.3H13.3a.3.3,0,0,0-.3.3v4.4a.3.3,0,0,1-.3.3H8.3a.3.3,0,0,0-.3.3v1.4a.3.3,0,0,0,.3.3h4.4a.3.3,0,0,1,.3.3v4.4a.3.3,0,0,0,.3.3h1.4a.3.3,0,0,0,.3-.3V15.3a.3.3,0,0,1,.3-.3h4.4a.3.3,0,0,0,.3-.3V13.3a.3.3,0,0,0-.3-.3H15.3A.3.3,0,0,1,15,12.7Z');
}
/* Basic stylezation */
.newtab>button,.newtab{
  border-radius: 0px !important;
  border-bottom: 1px solid var(--colorAccentBg);
}
/* Line fade out - By Tam710562 */
.button-toolbar.newtab:before {
  content: ' ';
  position: absolute;
  bottom: -1px;
  border-bottom: 1px solid var(--colorBgLight);
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 100%;
}
/* Part of line fade out */
.newtab{
  padding-right: 80px !important;
}
/* Hover */
.newtab>button:hover{
  background-color: var(--WButtonHoverBg) !important;
  border: none !important;
}
/* Close the gap between new tab and tab border */
#browser.tabs-top .tab-position .tab{
  margin-right: 0px !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* TABS */
/* Non active tab bottom line */
.tab:not(.tab-group){
  border-bottom: 1px solid var(--colorAccentBg);
}
/* Non active tab stacks */
.tab.tab-group{
  border-bottom: 2px solid var(--colorAccentBg);
}
/* Active tab */
.tab-position .tab.active:not(.tab-group){
  border-top: 1px solid var(--colorAccentBg);
  border-left: 1px solid var(--colorAccentBg);
  border-right: 1px solid var(--colorAccentBg);
  border-bottom: none;
}
/* Hover on non active tab/tab stack */
.tab-position .tab:not(.active):hover{
  background: var(--GXaccentColor);
}
/* Close tab button */
.close{
  display: inline-block !important;
  background-color: transparent !important;
}
/* Every non active tab stack tab indicator */
.tab-group:not(.active) .tab-indicator {
  background-color: var(--colorBg) !important;
}
/* Every tab indicators inside active tab stack */
.tab-group.active .tab-indicator {
  background-color: var(--GXaccentColor) !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Active tab stack */
/* Normal window */
.tab-position .tab.active.tab-group{
  border-left: 1px solid var(--colorAccentBg);
  border-right: 1px solid var(--colorAccentBg);
  border-bottom: none;
}
/* Maximized window */
.maximized .tab-position .tab.active.tab-group .active{
  border-top: 1px solid var(--colorAccentBg);
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Active indicator inside active tab stack */
.tab.active .tab-indicator.active{
  border-left: 1px solid var(--colorAccentBg);
  border-right: 1px solid var(--colorAccentBg);
  border-top: 2px solid var(--colorAccentBg);
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Non active indicator inside active tab stack */
/* Normal window */
.tab-position .tab.active.tab-group .tab-indicator:not(.active){
  border: 1px solid var(--colorAccentBg);
  border-top: 2px solid var(--colorAccentBg);
}
/* Maximized window */
.maximized .tab-position .tab.active.tab-group .tab-indicator:not(.active){
  border-top: 1px solid var(--colorAccentBg);
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Non active indicator inside active tab stack */
.tab-position .tab.active.tab-group .tab-indicator:not(.active):hover{
  background-color: var(--WButtonHoverBg) !important;
  padding: 0px;
}
/* Hover non active indicator inside non active tab stack */
.tab-position .tab:not(.active).tab-group .tab-indicator:not(.active):hover{
  background-color: var(--WButtonHoverBg) !important;
  padding: 0px;
}
/* Hover active indicator inside non active tab stack */
.tab-position .tab:not(.active).tab-group .tab-indicator.active:hover{
  background-color: var(--colorAccentBgAlpha) !important;
  padding: 0px;
}
/* Unread mark */
.tab-position .tab.unread{
  background-image:linear-gradient(0deg, var(--colorAccentBgAlpha) -5px, transparent 26px);
}
/* All tabs indicators inside of each tab stack */
.tab-group-indicator{
  padding: 0px! important;
}
/* Every tab indicator */
.tab-indicator{
  height: 11px;
}
/* Non active indicator inside non active tab stack */
.tab-position .tab-group:not(.active) .tab-indicator:not(.active){
  border-bottom-width: 2px !important;
}
/* First and last indicator inside a non active tab stack */
.tab-indicator:first-of-type,.tab-indicator:last-of-type{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.tab-indicator:last-of-type{
  margin-right: 0px !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Tab stacks while "remove spacing above tabs while maximized" is enabled and window is maximized */
/* Tab indicator */
.maximized.tabs-at-edge .tab-indicator{
  height: 7px;
}
/* Icon */
.maximized.tabs-at-edge .tab-group .favicon.jstest-favicon-image img{
  width: 12px;
  height: 12px;
  margin-top: 3px;
}
/* Loading icons & Audio icon*/
.maximized.tabs-at-edge .tab-group .favicon:not(.jstest-favicon-image){
  width: 12px;
  height: 12px;
  margin-top: 4px;
}
/* Audio icon*/
.maximized.tabs-at-edge .tab-group .tab-audio .audioicon{
  width: 24px;
  height: 24px;
  margin-top: 4px;
}
/* Title */
.maximized.tabs-at-edge .tab-group .title{
  margin-top: 3px;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Tab icon's and Sidebar's icons notification dot */
/* Tab icon and sidebar notification dot */
.tab-position .tab .tab-header .button-badge,#panels #switch .button-badge{
  border: none !important;
  border-radius: 100px !important;
  font-size: 0px !important;
  padding: 0px !important;
  height: 8px !important;
  min-width: 8px !important;
  background-color: var(--colorAccentBg) !important;
}
/* Position on Tab's icon */
.tab-position .tab .tab-header .button-badge{
  margin-left: 2px !important;
  margin-right: 0px !important;
  margin-top: 4px !important;
  margin-bottom: 0px !important;
}
/* Position on Sidebar's icons */
#panels #switch .button-badge{
  margin-left: 0px !important;
  margin-right: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 0px !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Tab loading bar */
/* When tab is active */
.tab-position .tab.active .progress-indicator{
  background-color: var(--colorAccentBg);
  height:1px;
}
/* When tab isn't active */
.tab-position .tab:not(.active) .progress-indicator{
  background-color: var(--WButtonHoverBg);
  height:2px;
}
/* When tab stack isn't active */
.tab-position .tab:not(.active).tab-group .progress-indicator{
  height:4px;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Active tab icon */
.theme-dark .tab-position .tab.active .tab-header .favicon{
  filter:none !important;
}
/* Non active tabs & tab stacks */
.tab-position .tab:not(.active){
  color: var(--GXcolorAccentFgFaded) !important;
  fill:var(--GXcolorAccentFgFaded) !important;
}
/* This stylezation was made by user "Tam710562" - Block start */
#browser .tab-position .tab .tab-header .favicon img[srcset^="/resources/favicon-"] {
  filter: invert(1) opacity(.5) drop-shadow(0px 0px 0px var(--colorAccentBg)) drop-shadow(0px 0px 0px var(--colorAccentBg)) drop-shadow(0px 0px 0px var(--colorAccentBg));
}
/* This stylezation was made by user "Tam710562" - Block end */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* ADDRESS BAR */
/* Entire address bar */
#main .toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large{
  margin-left: 34px;
  border-left: 1px solid var(--colorAccentBg) !important;
  padding-top: 5px;
  padding-bottom: 3px;
}
/* Page control buttons hover */
.toolbar-addressbar .button-toolbar>button:hover{
  background-color: #100e15 !important;
}
/* Address field and Search field buttons and text */
.addressfield, .searchfield{
  fill: inherit !important;
  color: inherit !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Address field */
/* Bar stylezation */
.addressfield, .addressfield form input.url{
  background-color: var(--GXaccentColor) !important;
  border: none !important;
  height: 30px !important;
}
/* Bar hover */
.addressfield:hover{
  background-color: var(--colorAccentBgAlpha) !important;
  border: none !important;
  box-shadow: none;
}
/* Bar focus */
.addressfield:focus-within{
  background-color: var(--colorBg) !important;
  border: none !important;
  box-shadow: none;
}
/* I personally don't remember why I added this */
.addressfield .addressfield-siteinfo .siteinfo-ssl-issuer {
  display: none !important;
}
/* Text selection in Address field */
.url::selection {
  background-color: var(--colorAccentBg) !important;
  color: rgb(0,0,0) !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Tree dots (vertical ellipsis) in the left and right */
/* Basic creation */
.addressfield::before,.addressfield::after{
  content: '⋮' !important;
  background-color: transparent !important;
  height: 28px !important;
  position: static !important;
  width:unset !important;
  z-index: 1 !important;
  bottom: inherit !important;
  left:inherit !important;
  right: inherit !important;
  color: #2e2937 !important;
  font-size: 19px !important;
}
/* Basic stylezation for incognito windows */
#browser.private .addressfield:not(:hover):not(:focus-within):before,#browser.private .addressfield:not(:hover):not(:focus-within):after{
  color: #35303e !important;
}
/* Hide them when address field is hovered or has focus */
.addressfield:hover::before,.addressfield:hover::after,
.addressfield:focus-within::before,.addressfield:focus-within::after{
  color:transparent !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Address field inside buttons */
/* Bookmark button when page is saved */
.bookmark-animated-fill{
  fill: var(--colorAccentFg) !important;
}
/* Hover when not pressed */
.toolbar-insideinput>div>button:hover:not(.button-pressed){
  border:none !important;
  border-radius: 0px !important;
  background-color: hsla(0, 0%, 100%, 0.22) !important;
}
/* When pressed */
.toolbar-insideinput>div>.button-pressed{
  background-color: #6f7e85 !important;
  border: none !important;
}
/* Hover when is pressed */
.toolbar-insideinput>div>.button-pressed:hover{
  background-color: #8b989e !important;
  border: none !important;
}
/* Site & Search engine icon */
.SiteInfoButton,.SiteInfoButton-SearchEngineFavicon{
  height: 20px !important;
  margin-left: 22px !important;
  margin-top: 4px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}
/* Site icon hover */
.SiteInfoButton:hover{
  background-color: #5c596e !important;
}
/* Safe website icon */
.SiteInfoButton.secure, .SiteInfoButton.certified{
  fill: #8beb84 !important;
  color: #8beb84 !important;
}
/* Browser internal page */
.button-addressfield.SiteInfoButton.internal svg{
  fill: var(--colorAccentBg) !important;
  padding-left: 1px;
}
/* Safe website hover */
.button-addressfield.SiteInfoButton.secure:hover{
  fill: #a0eb9b !important;
}
/* Search engine icon + security badge */
.SiteInfoButton-SearchEngineFavicon,.SiteInfoButton-SecurityBadge{
  width: 16px !important;
}
.UrlBar-UrlFieldWrapper .observer .UrlField input{
  padding-left: 18px !important;
  margin-top: 5px !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Search field */
/* Basic Stylezation */
.iconmenu-container,.searchfield{
  background-color: var(--GXaccentColor) !important;
  border: none !important;
  height: 30px !important;
}
/* Hover */
.iconmenu-container:hover,.searchfield:hover{
  background-color: var(--colorAccentBgAlpha) !important;
  border: none !important;
  box-shadow: none;
}
/* Focus with-in */
.iconmenu-container:focus-within,.searchfield:focus-within{
  background-color: var(--colorBg) !important;
  border: none !important;
  box-shadow: none !important;
}
/* input */
.toolbar-mainbar .searchfield-input{
  margin-top: 1px !important;
}
/* Text selection in search field */
.searchfield-input::selection {
  background-color: var(--colorAccentBg) !important;
  color: rgb(0,0,0) !important;
}
/* Search logo */
.toolbar-mainbar .toolbar-insideinput.SearchEngineSelect-Icon{
  margin-top: 2px !important;
  margin-left: 8px !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Dropdown */
/* Basic stylezation */
.OmniDropdown {
  box-shadow: none;
  background-color: #06030d !important;
  color: var(--colorFg);
  fill: var(--colorFg);
}
/* Dropdown item hover on non highlighted item */
.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover{
  background-color: var(--colorAccentBgAlpha);
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* BOOKMARK BAR */
/* Basic bar stylezation */
.bookmark-bar{
  background-color: var(--GXaccentColor);
  height:33px;
  box-shadow: none !important;
  border:none !important;
  margin-left: 34px;
}
/* Entire bookmark bar */
.bookmark-bar .observer{
  border-left: 1px solid var(--colorAccentBg);
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Bookmark bar items */
/* Basic stylezation */
.bookmarkbarItem{
  border-radius: 0px !important;
  bottom: 5px;
  padding-top: 5px !important;
  padding-left: 8px !important;
  padding-right: 7px !important;
}
.bookmark-bar button svg.folder-icon{
  stroke: #e6e9eb !important;
  height: 12px;
  width: 12px;
}
/* Items itself */
.bookmark-bar button {
  background-color: var(--GXaccentColor) !important;
}
/* Hover */
.bookmarkbarItem:hover{
  background-color: var(--WButtonHoverBg) !important;
}
/* Space between bookmark bar and address bar */
.address-top .toolbar-mainbar:after {
  height: unset;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* SIDEBAR */
/* Basic stylezation */
#panels-container.left #switch,#switch > button:focus:not(active){
  background-color: var(--colorBg) !important;
  box-shadow: none !important;
  border-right: 1px solid var(--colorAccentBg) !important;
}
/* Sepator line between page and side panel */
#panels-container:after{
  background-color: transparent;
}
/* Entire sidebar */
#panels-container{
  margin-left: 1px;
}
/* Buttons */
#switch button{
  border: none !important;
  border-radius: none !important;
}
/* Buttons hover */
#switch button:hover{
  background-color: var(--colorBg) !important;
  padding-left: 4px !important;
}
/* Pressed button */
#switch > button.active{
  background-color: var(--colorBg) !important;
  border: none !important;
}
/* Add webpanel button */
#switch .addwebpanel-wrapper > button, #switch > button {
  fill: var(--colorAccentBg) !important;
}
/* Webpanels icons */
.theme-dark #switch button.webviewbtn img{
  background-color: transparent !important;
  border-radius: 0px !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Make floating panels opens "Opera like" */
/* Basic panel stylezation */
.left.overlay .panel-group{
  z-index: 2 !important;
  position: fixed !important;
  top: 0px !important;
}
/* Fix other UI elements being over the panel. Must be 0 */
.bookmark-bar.default,#header{
  z-index: 0 !important;
}
/* If this one is set to 0, dropdown menu doesn't work */
.toolbar-addressbar{
  z-index: 1 !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* STATUS BAR */
/* Basic stylezation */
.toolbar-statusbar{
  background-color: var(--colorBg) !important;
  border-top:1px solid var(--colorAccentBg) !important;
  margin-left: 34px;
}
/* Buttons stylezation */
.toolbar-statusbar>div>button{
  fill: var(--colorAccentBg);
}
/* Button pressed */
.toolbar-statusbar .button-toolbar > button.button-pressed{
  background-color: transparent;
}
/* Buttons hover */
.toolbar-statusbar>.button-toolbar>button:hover{
  padding-bottom: 4px;
  background-color: var(--colorBg) !important;
}
/* ===================================================================== SECTOR END === */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Make tabs look like Opera GX */
/* Original code by user Tam710562 */
#browser .tab-position .tab:not(.tab-group) .tab-header {
  clip-path: polygon(7px 0%, 100% 0, 100% 100%, 0 100%, 0% 7px);
}
#browser #tabs-container .tab-position .tab:not(.tab-group){
  clip-path: polygon(6px 0%, 100% 0, 100% 100%, 0 100%, 0% 6px);
}
#browser .tab-position .tab.active:not(.tab-group) .tab-header {
  background: var(--GXaccentColor) !important;
}
#browser #tabs-container .tab-position .tab.active:not(.tab-group){
  background: var(--colorAccentBg) !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Colorize the browser main bar */
.tab.active,.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large,.bookmark-bar.default,.tab-position .tab:not(.active):hover,.color-behind-tabs-off .toolbar-mainbar{
  background-color: var(--GXaccentColor) !important;
  background: var(--GXaccentColor) !important;
}
/* Colorize bookmarks bar's folders icons */
.bookmark-bar{
  fill: var(--GXaccentColor) !important;
}
/* Remove some default browser stylezation in HTML elements*/
button:focus:not([tabindex='-1']), input:focus:not([tabindex='-1']), select:focus:not([tabindex='-1']), textarea:focus:not([tabindex='-1']), input[type=text]:focus:not([tabindex='-1']), input[type=search]:focus:not([tabindex='-1']), input[type=password]:focus:not([tabindex='-1']), input[type=email]:focus:not([tabindex='-1']), input[type=url]:focus:not([tabindex='-1']), input[type=number]:focus:not([tabindex='-1']), input[type=radio]:focus:not([tabindex='-1']), input[type=date]:focus:not([tabindex='-1']), input[type=time]:focus:not([tabindex='-1']), input[type=checkbox]:focus:not([tabindex='-1']), input[type=button]:focus:not([tabindex='-1']), input[type=submit]:focus:not([tabindex='-1']){
  border-color: var(--colorAccentBorder);
  box-shadow: 0 0 0 1px var(--colorAccentBorder);
}
/* Download panel selected item */
.vivaldi-tree:focus-within .tree-row[data-selected] .DownloadItem-ActionButton{
  background-color: var(--colorBorderDark) !important;
}
/* Background color in side panel and settings elements */
#panels-container input,
.vivaldi-settings input,
#panels-container select,
.vivaldi-settings select,
#panels-container textarea,
.vivaldi-settings textarea,
.panel#downloads .download-editor,.addbookmark-cardwrapper,.notes-cardwrapper,.vivaldi-settings .settings-content{
  background-color: var(--GXaccentColor) !important;
}
/* Remove border in side panel's elements */
#panels-container button,.vivaldi-settings button,
#panels-container input,.vivaldi-settings input,
#panels-container select,.vivaldi-settings select,
#panels-container textarea,.vivaldi-settings textarea,
#panels-container input[type=text],.vivaldi-settings input[type=text],
#panels-container input[type=search],.vivaldi-settings input[type=search],
#panels-container input[type=password],.vivaldi-settings input[type=password],
#panels-container input[type=email],.vivaldi-settings input[type=email],
#panels-container input[type=url],.vivaldi-settings input[type=url],
#panels-container input[type=number],.vivaldi-settings input[type=number],
#panels-container input[type=date],.vivaldi-settings input[type=date],
#panels-container input[type=time],.vivaldi-settings input[type=time],
#panels-container input[type=button],.vivaldi-settings input[type=button],
#panels-container input[type=submit],.vivaldi-settings input[type=submit]{
  border: none !important;
  box-shadow: none !important;
}
/* Remove background gradient in browser buttons */
.toolbar-default .button-toolbar > button,select:not([multiple]):not([size]), input[type=date],input[type=button], input[type=submit], input[type=color], .webpage-button{
  background-image: none !important;
}
/* Side panel's tree lists item selected */
.vivaldi-tree .tree-row[data-selected][data-nofocus],.vivaldi-tree .tree-row[data-selected]{
  background-color: var(--colorAccentBg) !important;
}
/* Browser's radio buttons and checkboxes */
input[type=radio],input[type=checkbox]{
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--colorFgFadedMore) !important;
  background-color: var(--colorBg) !important;
}
/* Browser's radio button checked */
input[type=radio]:checked{
  border-color: var(--colorAccentBg) !important;
}
/* Notes panel Text area hover */
#notes-panel .notes-editor .shim:hover,#notes-panel textarea.note.editor:hover{
  background-color: var(--colorAccentBgFaded) !important;
  outline: none !important;
}
/* Notes panel Text area focus in */
#notes-panel textarea.note.editor:focus-within{
  background-color: var(--colorBg) !important;
}
/* Setting search in vivaldi settings window */
.vivaldi-settings .settings-search{
  background-color: var(--colorBgDark)!important;
}
/* Hotfix for text color being darker than main bar color */
.color-behind-tabs-on#browser.address-off.tabs-off.bookmark-bar-off #header,
.color-behind-tabs-off .toolbar-mainbar,
#browser.color-behind-tabs-on.tabs-top,
#browser + div.color-behind-tabs-on.tabs-top,
#browser + div + div.color-behind-tabs-on.tabs-top,
#browser.color-behind-tabs-off:not(.tabs-top),
#browser + div.color-behind-tabs-off:not(.tabs-top),
#browser + div + div.color-behind-tabs-off:not(.tabs-top),
#browser.mac:not(.tabs-top).address-top #header,
#browser .tab-position .tab.active,
.color-behind-tabs-on .tab-position .tab,
.color-behind-tabs-on .tab-position .tab:hover:not(.active),
.tab-position .tab.active .tab-header input.tab-title-edit,
.color-behind-tabs-on #tabs-container,
.tab-position .tab.active .tab-header input.tab-title-edit,
.color-behind-tabs-on #tabs-container,
.bookmark-bar,
.color-behind-tabs-off .bookmark-bar button,
.calendar-grid-multiweek .calendar-multiweek-date.selected .day,
.calendar-grid-month .calendar-multiweek-date.selected .day,
.calendar-grid-year .calendar-month .calendar-month-day.selected{
  color: var(--GXcolorAccentFg) !important;
}
/* Hotfix for BUTTONS fill being darker than main bar color */
.color-behind-tabs-off .toolbar-mainbar,
#browser.color-behind-tabs-on.tabs-top,
#browser + div.color-behind-tabs-on.tabs-top,
#browser + div + div.color-behind-tabs-on.tabs-top,
#browser.color-behind-tabs-off:not(.tabs-top),
#browser + div.color-behind-tabs-off:not(.tabs-top),
#browser + div + div.color-behind-tabs-off:not(.tabs-top),
#browser.mac:not(.tabs-top).address-top #header{
  fill: var(--GXcolorAccentFg) !important;
}
/* Part of the Hotfix */
.color-behind-tabs-off .toolbar .profile-popup + .toolbar-extensions .button-toolbar:not(.button-narrow):first-of-type:before {
  background: var(--GXcolorAccentFg) !important;
}
/* Part of the Hotfix */
.color-behind-tabs-off .toolbar-mainbar > .button-toolbar > button.button-selected.button-selected svg,
.color-behind-tabs-off .toolbar-mainbar > .toolbar-group > .button-toolbar > button.button-selected.button-selected svg {
  filter: drop-shadow(0 0 2px var(--GXcolorAccentFg)) !important;
}
/* Part of the Hotfix */
.toolbar-tabbar > .button-toolbar > button,
.toolbar-tabbar > .toolbar-group > .button-toolbar > button {
  color: var(--colorImageForeground, var(--GXcolorAccentFg)) !important;
}
/* ===================================================================== SECTOR START === */
#browser.private .tab-position .tab:not(.active):hover,
#browser.private .tab.active,
#browser.private .toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large,
#browser.private .bookmark-bar.default,
#browser.private .tab-position .tab:not(.active):hover,
#browser.private.color-behind-tabs-off .toolbar-mainbar,
#browser.private .tab-position .tab.active:not(.tab-group) .tab-header{
  background: var(--GXaccentColorIncognito) !important;
}
#browser.private .tab-group.active .tab-indicator,
#browser.private .addressfield:not(:hover):not(:focus-within),
#browser.private .addressfield form input.url,
#browser.private .iconmenu-container:not(:hover):not(:focus-within),
#browser.private .searchfield:not(:hover):not(:focus-within),
#browser.private .bookmark-bar,
#browser.private .bookmark-bar button:not(:hover),
#browser.private .tab.active,
#browser.private .toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large,
#browser.private .bookmark-bar.default,
#browser.private .tab-position .tab:not(.active):hover,
#browser.private.color-behind-tabs-off .toolbar-mainbar {
  background-color: var(--GXaccentColorIncognito) !important;
}
#browser.private .bookmark-bar{
  fill: var(--GXaccentColorIncognito) !important;
}
.addressfield .private-window-indicator{
  background-color: transparent !important;
  border: none !important;
  padding: none !important;
  margin-left: 5px !important;
  margin-right: 0px !important;
}
#35303e;
/* ===================================================================== SECTOR END === */
