/* Things that should be removed in the alternative version, have this @PresentedOnlyInDefault
Things that should be presented only in the alternative version, have this @PresentedOnlyInAlternative*/
/* Some colors */
:root{
  --WButtonHoverBg: #38444f;
}
/* ===================================================================== SECTOR START === */
/* TOP BUTTONS */
/* Menu icon and window buttons */
#browser, #browser + div, #browser + div + div{
  fill: var(--colorHighlightBg) !important;
}
/* Window buttons hover */
#browser .window-buttongroup>button:hover{
  fill: var(--HighlightBg) !important;
  background-color: var(--WButtonHoverBg) !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Menu button*/
/* Icon change */
#titlebar .vivaldi svg>path{
  d: path('M11,20.9h-.6a3.2,3.2,0,0,1-2.3-1.7L5.1,14l-2-3.4L.6,6.1A3.4,3.4,0,0,1,.4,2.9,3.3,3.3,0,0,1,3,1.1,3,3,0,0,1,6.1,2.7L7.3,4.8l.5.8.6,1.1L9.8,9.1a3.2,3.2,0,0,0,3.3,1.6A3.2,3.2,0,0,0,16,8.3a2.9,2.9,0,0,0,.1-.9,4.5,4.5,0,0,0-.4-1.7,3.3,3.3,0,0,1,.1-2.9,3.3,3.3,0,0,1,2.4-1.6,3.2,3.2,0,0,1,2.8,1,3.2,3.2,0,0,1,.8,2.9,5.2,5.2,0,0,1-.6,1.4v.2L14,19A3.4,3.4,0,0,1,11,20.9ZM3.4,2.4H3.2a2,2,0,0,0-1.6,1,2.1,2.1,0,0,0,.2,2L4.3,9.9l2,3.4,3,5.2a1.8,1.8,0,0,0,1.3,1,2,2,0,0,0,2.2-1.2L20,6V5.8a4.1,4.1,0,0,0,.5-1,1.9,1.9,0,0,0-.5-1.7,1.8,1.8,0,0,0-1.6-.6,1.9,1.9,0,0,0-1.4,1,2,2,0,0,0,0,1.7,5.8,5.8,0,0,1,.5,2.1h0a4.2,4.2,0,0,1-.2,1.4,4.5,4.5,0,0,1-4,3.4A4.5,4.5,0,0,1,8.7,9.8L7.3,7.4,6.6,6.3l-.5-.8L5,3.4A1.7,1.7,0,0,0,3.4,2.4Z');
}
/* Menu button hover */
.vivaldi:hover{
  background-color: var(--WButtonHoverBg) !important;
}
/* Basic stylezation - @PresentedOnlyInAlternative
.vivaldi{
border-bottom: 1px solid var(--colorHighlightBg);
}*/
/* Menu button when theres no spacing above tabs while maximized - @PresentedOnlyInAlternative
.tabs-at-edge .vivaldi{
border-bottom: 3px solid var(--colorHighlightBg);
}*/
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* New tab button and Trash button */
.color-behind-tabs-off .toolbar-tabbar > .button-toolbar > button{
  color: var(--colorHighlightBg) !important;
}
/* Trash button hover */
.toggle-trash>button:hover{
  background-color: var(--WButtonHoverBg) !important;
  border-radius: 0px;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Trash button icon */
/* Every strokes */
.toggle-trash button svg{
}
/* First stroke */
.toggle-trash button path.trashicon-lid{
  d: path('M5.7,14.1V12.5a.4.4,0,0,1,.4-.4l7.8-.2,7.9.2a.4.4,0,0,1,.4.4v1.6a.4.4,0,0,1-.4.4l-7.9-.2-7.8.2A.4.4,0,0,1,5.7,14.1');
}
/* Second bar */
.toggle-trash button path.trashicon-content{
  d: path('M5.7,10.1V8.5a.4.4,0,0,1,.4-.4L13.9,8l7.9.2a.4.4,0,0,1,.4.4v1.6a.4.4,0,0,1-.4.4l-7.9-.2-7.8.2A.4.4,0,0,1,5.7,10.1Z');
}
/* Increasing second bar opacity */
.button-toolbar.toggle-trash > button svg .trashicon-content{
  opacity: 1 !important;
}
/* Arrow */
.toggle-trash button path.trashicon-bin{
  d: path('M9.4,17.1,10.5,16a.4.4,0,0,1,.5,0l2.7,2.6a.4.4,0,0,0,.5,0L16.8,16a.4.4,0,0,1,.5,0l1.2,1.1a.4.4,0,0,1,0,.5l-4.2,4.3a.4.4,0,0,1-.5,0L9.4,17.6A.4.4,0,0,1,9.4,17.1Z');
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* New tab button */
/* Icon */
.newtab button svg>path{
  d: path('M15,12.7V8.3a.3.3,0,0,0-.3-.3H13.3a.3.3,0,0,0-.3.3v4.4a.3.3,0,0,1-.3.3H8.3a.3.3,0,0,0-.3.3v1.4a.3.3,0,0,0,.3.3h4.4a.3.3,0,0,1,.3.3v4.4a.3.3,0,0,0,.3.3h1.4a.3.3,0,0,0,.3-.3V15.3a.3.3,0,0,1,.3-.3h4.4a.3.3,0,0,0,.3-.3V13.3a.3.3,0,0,0-.3-.3H15.3A.3.3,0,0,1,15,12.7Z');
}
/* Basic stylezation */
.newtab>button,.newtab{
  border-radius: 2px !important;
  border-bottom: 1px solid var(--colorHighlightBg);
}
/* Hover */
.newtab>button:hover{
  background-color: var(--WButtonHoverBg) !important;
  border: none !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* TABS */
/* Non active tab bottom line */
.tab:not(.tab-group){
  border-bottom: 1px solid var(--colorHighlightBg);
}
/* Non active tab stacks */
.tab.tab-group{
  border-bottom: 3px solid var(--colorHighlightBg);
}
/* Active tab */
.tab-position .tab.active:not(.tab-group){
  border-top: 1px solid var(--colorHighlightBg);
  border-left: 1px solid var(--colorHighlightBg);
  border-right: 1px solid var(--colorHighlightBg);
  border-bottom: none;
}
/* Hover on non active tab/tab stack */
.tab-position .tab:not(.active):hover{
  background: var(--colorAccentBg);
}
/* Close tab button */
.close{
  display: inline-block !important;
}
/* Every non active tab stack tab indicator */
.tab-group:not(.active) .tab-indicator {
  background-color: var(--colorBg) !important;
}
/* Every tab indicators inside active tab stack */
.tab-group.active .tab-indicator {
  background-color: var(--colorAccentBg) !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Active tab stack */
/* Normal window */
.tab-position .tab.active.tab-group{
  border-left: 1px solid var(--colorHighlightBg);
  border-right: 1px solid var(--colorHighlightBg);
  border-bottom: none;
}
/* Maximized window */
.maximized .tab-position .tab.active.tab-group .active{
  border-top: 1px solid var(--colorHighlightBg);
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Active indicator inside active tab stack */
.tab.active .tab-indicator.active{
  border-left: 1px solid var(--colorHighlightBg);
  border-right: 1px solid var(--colorHighlightBg);
  border-top: 2px solid var(--colorHighlightBg);
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Non active indicator inside active tab stack */
/* Normal window */
.tab-position .tab.active.tab-group .tab-indicator:not(.active){
  border: 1px solid var(--colorHighlightBg);
  border-top: 2px solid var(--colorHighlightBg);
}
/* Maximized window */
.maximized .tab-position .tab.active.tab-group .tab-indicator:not(.active){
  border-top: 1px solid var(--colorHighlightBg);
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Non active indicator inside active tab stack */
.tab-position .tab.active.tab-group .tab-indicator:not(.active):hover{
  background-color: var(--WButtonHoverBg) !important;
  padding: 0px;
}
/* Hover non active indicator inside non active tab stack */
.tab-position .tab:not(.active).tab-group .tab-indicator:not(.active):hover{
  background-color: var(--WButtonHoverBg) !important;
  padding: 0px;
}
/* Hover active indicator inside non active tab stack */
.tab-position .tab:not(.active).tab-group .tab-indicator.active:hover{
  background-color: var(--colorHighlightBgAlpha) !important;
  padding: 0px;
}
/* Unread mark */
.tab-position .tab.unread{
  background-image:linear-gradient(0deg, var(--colorHighlightBgAlpha) -5px, transparent 26px);
}
/* All tabs indicators inside of each tab stack */
.tab-group-indicator{
  padding: 0px! important;
}
/* Every tab indicator */
.tab-indicator{
  height: 11px;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Tab stacks while "remove spacing above tabs while maximized" is enabled and window is maximized */
/* Tab indicator */
.maximized.tabs-at-edge .tab-indicator{
  height: 7px;
}
/* Icon */
.maximized.tabs-at-edge .tab-group .favicon.jstest-favicon-image img{
  width: 12px;
  height: 12px;
  margin-top: 3px;
}
/* Loading icons & Audio icon*/
.maximized.tabs-at-edge .tab-group .favicon:not(.jstest-favicon-image){
  width: 12px;
  height: 12px;
  margin-top: 4px;
}
/* Audio icon*/
.maximized.tabs-at-edge .tab-group .tab-audio .audioicon{
  width: 24px;
  height: 24px;
  margin-top: 4px;
}
/* Tab icon notification circle */
.tab-position .tab .tab-header .button-badge{
  display: none;
}
/* Title */
.maximized.tabs-at-edge .tab-group .title{
  margin-top: 3px;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Tab loading bar */
/* When tab is active */
.tab-position .tab.active .progress-indicator{
  background-color: var(--colorHighlightBg);
  height:1px;
}
/* When tab isn't active */
.tab-position .tab:not(.active) .progress-indicator{
  background-color: var(--WButtonHoverBg);
  height:2px;
}
/* When tab stack isn't active */
.tab-position .tab:not(.active).tab-group .progress-indicator{
  height:4px;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* Active tab icon */
.theme-dark .tab-position .tab.active .tab-header .favicon{
  filter:none !important;
}
/* Non active tabs & tab stacks */
.tab-position .tab:not(.active){
  color: var(--colorAccentFgFaded) !important;
  fill:var(--colorAccentFgFaded) !important;
}
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* ADDRESS BAR */
/* Page control buttons hover */
.toolbar-addressbar .button-toolbar>button:hover{
  background-color: #100e15 !important;
}
/* Address field and Search field buttons and text */
.addressfield, .searchfield{
  fill: inherit !important;
  color: inherit !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Address field */
/* Bar stylezation */
.addressfield, .addressfield form input.url{
  background-color: var(--colorAccentBg) !important;
  border: none !important;
}
/* Bar hover */
.addressfield:hover{
  background-color: var(--colorHighlightBgAlpha) !important;
  border: none !important;
  box-shadow: none;
}
/* Bar focus */
.addressfield:focus-within{
  background-color: var(--colorBg) !important;
  border: none !important;
  box-shadow: none;
}
/* I personally don't remember why I added this */
.addressfield .addressfield-siteinfo .siteinfo-ssl-issuer {
  display: none !important;
}
/* Text selection in Address field */
.url::selection {
  background-color: var(--colorHighlightBg) !important;
  color: rgb(0,0,0) !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Address field inside buttons */
/* Bookmark button when page is saved */
.bookmark-animated-fill{
  fill: var(--colorAccentFg) !important;
}
/* Hover when not pressed */
.toolbar-insideinput>div>button:hover:not(.button-pressed){
  border:none !important;
  border-radius: 0px !important;
  background-color: hsla(0, 0%, 100%, 0.22) !important;
}
/* When pressed */
.toolbar-insideinput>div>.button-pressed{
  background-color: #6f7e85 !important;
  border: none !important;
}
/* Hover when is pressed */
.toolbar-insideinput>div>.button-pressed:hover{
  background-color: #8b989e !important;
  border: none !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Search field */
/* Basic Stylezation */
.iconmenu-container,.searchfield{
  background-color: var(--colorAccentBg) !important;
  border: none !important;
}
/* Hover */
.iconmenu-container:hover,.searchfield:hover{
  background-color: var(--colorHighlightBgAlpha) !important;
  border: none !important;
  box-shadow: none;
}
/* Focus with-in */
.iconmenu-container:focus-within,.searchfield:focus-within{
  background-color: var(--colorBg) !important;
  border: none !important;
  box-shadow: none !important;
}
/* Text selection in search field */
.searchfield-input::selection {
  background-color: var(--colorHighlightBg) !important;
  color: rgb(0,0,0) !important;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Dropdown */
/* Basic stylezation */
.OmniDropdown {
  box-shadow: none;
  background-color: #06030d !important;
  color: var(--colorFg);
  fill: var(--colorFg);
}
/* Dropdown item hover on non highlighted item */
.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover {
  background-color: var(--colorHighlightBgAlpha);
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* BOOKMARK BAR */
/* Basic bar stylezation */
.bookmark-bar{
  background-color: var(--colorAccentBg);
  height:40px;
  box-shadow: none !important;
  border:none !important;
}
/* ++++++++++++++++ BLOCK START ++++++++++++++++++++ */
/* Bookmark bar items */
/* Basic stylezation */
.bookmarkbarItem{
  border-radius: 0px !important;
  margin: 4px 0px !important;
}
/* Items itself */
.bookmark-bar button {
  background-color: var(--colorAccentBg) !important;
}
/* Hover */
.bookmarkbarItem:hover{
  background-color: var(--WButtonHoverBg) !important;
}
/* Space between bookmark bar and address bar */
.address-top .toolbar-mainbar:after {
  height: unset;
}
/* ++++++++++++++++ BLOCK END ++++++++++++++++++++ */
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* SIDEBAR */
/* Basic stylezation */
#panels-container.left #switch,#switch > button:focus:not(active){
  background-color: var(--colorBg) !important;
  box-shadow: none !important;
  border-right: 1px solid var(--colorHighlightBg) !important;
}
/* Sepator line between page and side panel */
#panels-container:after{
  background-color: transparent;
}
/* Buttons hover */
#switch button:hover{
  background-color: var(--colorBg) !important;
  padding-left: 4px !important;
}
/* Pressed button */
#switch > button.active{
  background-color: var(--colorBg) !important;
  border: none !important;
}
/* Add webpanel button */
#switch .addwebpanel-wrapper > button, #switch > button {
  fill: var(--colorHighlightBg) !important;
}
/* Webpanels icons */
.theme-dark #switch button.webviewbtn img{
  background-color: transparent !important;
  border-radius: 0px !important;
}
/* ===================================================================== SECTOR END === */
/* ===================================================================== SECTOR START === */
/* STATUS BAR */
/* Basic stylezation */
.toolbar-statusbar{
  background-color: var(--colorBg) !important;
}
/* Buttons stylezation */
.toolbar-statusbar>div>button{
  fill: var(--colorHighlightBg);
}
/* Button pressed */
.toolbar-statusbar .button-toolbar > button.button-pressed{
  background-color: transparent;
}
/* Buttons hover */
.toolbar-statusbar>.button-toolbar>button:hover{
  padding-bottom: 4px;
  background-color: var(--colorBg) !important;
}
/* ===================================================================== SECTOR END === */
