#browser.tabs-top.address-top div.UrlBar.toolbar.toolbar-mainbar.toolbar-large {
  margin-left: 40px;
  border-left: 1px solid var(--colorHighlightBg) !important;
}

div.UrlBar.toolbar.toolbar-mainbar.toolbar-large {
  padding-top   : 3px;
  padding-bottom: 3px;
  height        : 39px !important;
}

.toolbar-extensions .ExtensionIcon--Hidden {
  background-color: transparent !important;
}

.toolbar-extensions>.button-toolbar:not(:first-child).ExtensionIcon {
  margin-left: 4px !important;
}

.toolbar-extensions>.button-toolbar:not(.ExtensionIcon) {
  margin-left: 5px !important;
}

.UrlBar.toolbar-mainbar.toolbar-large .toolbar:first-child button:hover,
.UrlBar.toolbar-mainbar>.button-toolbar>button:hover,
.UrlBar.toolbar-mainbar>.toolbar-extensions>div>button:hover {
  background-color: hsl(0 0% 0% / 0.20) !important;
  background-image: none !important;
}

.address-top .toolbar-mainbar:after {
  content: none !important;
}

.toolbar-addressbar .button-toolbar>button:active,
.toolbar-mainbar>.button-toolbar>button.button-pressed {
  background-color: var(--colorBgAlphaHeavier) !important;
  background-image: none !important;
}

.UrlBar-AddressField,
.searchfield,
.SearchField-Popup {
  fill : white !important;
  color: var(--colorFgIntense);
}

.UrlBar-AddressField,
.UrlBar-AddressField form input.url,
.UrlBar-SearchField,
.toolbar-mainbar .SearchField-Popup .SearchField {
  background-color: var(--colorAccentBg) !important;
  border          : none !important;
  height          : 27px !important;
}

.UrlField {
  font-size: 14px !important;
}

.UrlBar-AddressField:hover,
.UrlBar-SearchField:hover,
.toolbar-mainbar .SearchField-Popup .SearchField:hover {
  background-color: hsl(0deg 0% 0% / 48%) !important;
  border          : none !important;
  box-shadow      : none;
}
/*
.UrlBar-AddressField:focus-within,
.UrlBar-SearchField:focus-within,
.toolbar-mainbar .SearchField-Popup .SearchField:focus-within {
  background-color: var(--colorAccentBgFadedMore) !important;
  border          : none !important;
  box-shadow      : none;
}
*/
.UrlBar-AddressField .UrlBar-AddressField-siteinfo .siteinfo-ssl-issuer {
  display: none !important;
}

.toolbar.toolbar-small.toolbar-insideinput {
  margin-top  : 0px;
  margin-right: 9px;
}

.create-bookmark button.button-on svg {
  stroke: var(--colorHighlightBg);
}

.UrlBar-AddressField>.toolbar-insideinput.toolbar-small>.button-toolbar:not(:last-of-type) {
  margin-right: 3px;
}

.create-bookmark button svg {
  fill          : white !important;
  stroke        : var(--colorAccentFg);
  stroke-width  : 0.8px;
  stroke-opacity: 0.5;
}

.create-bookmark button svg path.add-bookmark-shadow {
  display: none !important;
}

path[d="M3 4h10v1H3zM3 6h10v1H3zM3 8h10v1H3zM3 10h6v1H3z"] {
  d: path("M1.5,3h13V4.3H1.5Zm0,4.2h13V8.5H1.5Zm0,4.6H9.3v1.3H1.5Z") !important;
}

.url::selection,
.UrlBar-SearchField .searchfield-input::selection,
.toolbar-mainbar .SearchField-Popup .searchfield-input::selection {
  background-color: var(--colorHighlightBg) !important;
  color           : var(--colorHighlightFg) !important;
}

.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar>button:not(.button-textonly),
.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar>button span:not(.button-title),
.UrlBar.toolbar-mainbar>.button-toolbar>button,
.UrlBar.toolbar-mainbar .toolbar-mainbar.toolbar-extensions>.button-toolbar>button {
  --modAddressbarButtonSize: 27px;
  max-width                : var(--modAddressbarButtonSize) !important;
  max-height               : var(--modAddressbarButtonSize) !important;
  min-width                : var(--modAddressbarButtonSize) !important;
  min-height               : var(--modAddressbarButtonSize) !important;
  zoom: 1.1;
}

.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar.ClockButton>button:not(.button-textonly),
.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar.ClockButton>button span:not(.button-title) {
  max-width: 500px !important;
}

.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar>button.button-textonly {
  height: 27px !important;
}

.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar>button svg {
  flex        : 0 0 20px;
  height      : 20px;
  align-self  : center;
  justify-self: center;
}

.UrlBar.toolbar-mainbar>.button-toolbar {
  align-self: center;
}

.UrlBar.toolbar-mainbar>.button-toolbar>button>img,
.UrlBar.toolbar-mainbar .toolbar-mainbar.toolbar-extensions>.button-toolbar>button>img {
  height: 16px;
  width : 16px;
  flex  : 0 0 16px;
}

.toolbar-extensions .button-badge {
  border-radius : 0px !important;
  top           : unset !important;
  bottom        : 0px;
  right         : 0px !important;
  left          : unset !important;
  box-shadow    : none !important;
  text-shadow   : none !important;
  padding       : 0px 3px 1px 3px !important;
  height        : 12px !important;
  border        : none !important;
  min-width     : 12px !important;
  text-rendering: optimizeLegibility;
  font-size     : 10.1px;
}

.UrlBar.toolbar-mainbar .toolbar-droptarget.toolbar-mainbar>.button-toolbar>button svg.ClockIcon {
  flex  : 0 0 19px;
  height: 19px;
}

.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-large {
  margin-right: 3px;
  height      : fit-content;
}

.toolbar-mainbar.toolbar-extensions .extensionPopupIcons path {
  d: path("M16.786,12.794,13.523,9.531l-.707.707,2.556,2.557a.283.283,0,0,1,.074.178l-2.389.011a.286.286,0,0,0-.078-.19L9.715,9.531l-.707.707,2.556,2.557a.291.291,0,0,1,0,.411L9.008,15.762l.707.707,3.263-3.264a.282.282,0,0,0,.079-.221l2.389-.012a.278.278,0,0,1-.074.233l-2.556,2.557.707.707,3.263-3.264A.291.291,0,0,0,16.786,12.794Z");
}

button.button-on .bookmark-animated-fill,
button.button-on .bookmark-outline {
  fill: var(--colorHighlightBg) !important;
}

.UrlBar-AddressField::before,
.UrlBar-AddressField::after {
  content         : var(--verticalEllipsis) !important;
  background-color: transparent !important;
  height          : 28px !important;
  position        : absolute !important;
  width           : unset !important;
  z-index         : 1 !important;
  bottom          : inherit !important;
  color           : var(--colorAccentFgAlpha) !important;
  font-size       : 19px !important;
}

.UrlBar-AddressField::before {
  left: 0px !important;
}

.UrlBar-AddressField::after {
  right: 0px !important;
}

.UrlBar-AddressField:hover::before,
.UrlBar-AddressField:hover::after,
.UrlBar-AddressField:focus-within::before,
.UrlBar-AddressField:focus-within::after {
  color: transparent !important;
}

.create-qr-code button svg {
  fill: inherit !important;
}

.toolbar-insideinput>.button-toolbar button:hover:not(.button-pressed) {
  border-radius   : 0px !important;
  background-color: hsla(0, 0%, 100%, 0.15) !important;
}

.UrlBar-AddressField .toolbar-insideinput button svg {
  width : 15px !important;
  height: 15px !important;
  flex  : 0 0 15px !important;
}

.toolbar.toolbar-small.toolbar-insideinput .button-toolbar>button {
  border: none !important;
  height: 19px !important;
  width : 19px !important;
}

.button-popup-wrapper,
.button-popup-wrapper .UrlBar-AddressField-popup-header,
#modal-bg,
#modal-bg .dialog-header,
#modal-bg .dialog-content,
#modal-bg .dialog-footer {
  background-color: #19171f !important;
  border          : none !important;
}

.ContentBlocker-Control button>span path.trackers {
  opacity: 0 !important;
}

.ContentBlocker-Control button>span path.blocking {
  fill: var(--colorAccentBg);
}

.ContentBlocker-Control button>span path.ads {
  opacity     : var(--blocking) !important;
  fill        : var(--colorHighlightBg);
  fill-opacity: 1 !important
}

.ContentBlocker-Control button>span path[d="m8 14c2.432-1.085 4.098-2.624 4.997-4.615l.003-6.462-5-.923z"] {
  opacity: 0 !important;
}

.ContentBlocker-Control button[style*="--blocking:1;"]>span path.outline {
  fill   : var(--colorHighlightBg);
  opacity: var(--blocking) !important;
}

.button-popup-wrapper .UrlBar-AddressField-popup-header h1 {
  font-size  : 15px;
  font-weight: 500;
}

.toolbar-addressbar .searchfield .toolbar-insideinput:not(.SearchEngineSelect-Icon) button,
.toolbar-mainbar .SearchField-Popup .toolbar-insideinput:not(.SearchEngineSelect-Icon) button {
  margin-right: 5px !important;
}

.toolbar-insideinput>div>.button-pressed {
  background-color: #6f7e85 !important;
  border          : none !important;
}

.toolbar-insideinput>div>.button-pressed:hover {
  background-color: #8b989e !important;
  border          : none !important;
}

.SiteInfoButton,
.SiteInfoButton-SearchEngineFavicon {
  height          : 17px !important;
  width           : 16px !important;
  margin-left     : 22px !important;
  margin-top      : 0px !important;
  border-radius   : 0px !important;
  border-width    : 0px !important;
  background-color: transparent !important;
}

.siteinfo-text {
  display: none;
}

.SiteInfoButton:hover {
  background-color: hsla(0, 0%, 100%, 0.15) !important;
}

.SiteInfoButton.secure,
.SiteInfoButton.certified {
  fill : var(--colorAccentFg) !important;
  color: var(--colorAccentFg) !important;
}

.button-addressfield.SiteInfoButton.internal svg {
  fill        : var(--colorHighlightBg) !important;
  padding-left: 1px;
}

.button-addressfield.SiteInfoButton.secure:hover {
  fill: var(--colorFg) !important;
}

.SiteInfoButton-SearchEngineFavicon,
.SiteInfoButton-SecurityBadge svg {
  width: 16px !important;
}

.UrlBar-AddressField .SiteInfoButton.secure .SiteInfoButton-SecurityBadge path {
  d: path("M12.5,6.5H11V3.771l-.029-.17A3.247,3.247,0,0,0,8,1.5,3.129,3.129,0,0,0,5.237,3.172a1.648,1.648,0,0,0-.207.811L5.019,6.5H3.5A.5.5,0,0,0,3,7v7a.5.5,0,0,0,.5.5h9A.5.5,0,0,0,13,14V7A.5.5,0,0,0,12.5,6.5ZM6,4.346A1.65,1.65,0,0,1,6.359,3.3a2.095,2.095,0,0,1,3.282,0A1.649,1.649,0,0,1,10,4.346V6.5H6Z");
}

.UrlBar-AddressField .SiteInfoButton:not(.internal).insecure .SiteInfoButton-SecurityBadge path {
  d: path("M12.5,6.5H6V4.341A1.624,1.624,0,0,1,6.36,3.3a2.078,2.078,0,0,1,2.14-.73l.78-.77a3.05,3.05,0,0,0-4.04,1.37,1.658,1.658,0,0,0-.21.81L5.02,6.5H3.5A.5.5,0,0,0,3,7v7a.5.5,0,0,0,.5.5h9A.5.5,0,0,0,13,14V7A.5.5,0,0,0,12.5,6.5Z");
}

.SiteInfoButton.insecure {
  fill: #d42d2d;
}

.SiteInfoButton.insecure:hover svg {
  fill: inherit !important;
}

.UrlBar-UrlFieldWrapper .observer .UrlField input {
  padding-left: 18px !important;
  margin-top  : 0px !important;
  padding-top : 5px !important;
  color       : var(--colorAccentFg);
}

.toolbar-mainbar .searchfield-input,
.toolbar-mainbar .SearchField-Popup .searchfield-input {
  margin-top : -2px !important;
  padding-top: 0;
}

.toolbar-mainbar .toolbar-insideinput.SearchEngineSelect-Icon {
  margin-top : 0.5px !important;
  margin-left: 8px !important;
}

.OmniDropdown {
  box-shadow                : none;
  /* background-color          : var(--colorBg) !important; */
  color                     : var(--colorFg);
  fill                      : var(--colorAccentFg);
  border-top-left-radius    : 0px !important;
  border-top-right-radius   : 0px !important;
  border-bottom-left-radius : 10px !important;
  border-bottom-right-radius: 10px !important;
}

.OmniLinkItem {
  --item-height: 36px !important;
}

.OmniLinkItem--Highlighted,
.OmniLinkItem--Highlighted:hover,
.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover {
  color           : var(--colorHighlightFg);
  fill            : var(--colorHighlightFg);
  background-color: var(--colorHighlightBgAlpha);
}

.OmniLinkItem:not(.OmniLinkItem--SingleValue) .OmniLinkItem-Url {
  color: var(--colorHighlightBg);
}

.OmniLinkItem .OmniLinkItem-Url {
  margin-left: 15px;
}

.OmniLinkItem--Highlighted .OmniLinkItem-Url,
.OmniLinkItem--Highlighted:hover .OmniLinkItem-Url,
.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover .OmniLinkItem-Url {
  color: var(--colorHiglightFg) !important;
}

.UrlBar-SearchField .OmniLinkItem,
.toolbar-mainbar .SearchField-Popup .OmniLinkItem {
  grid-template-columns: [Url] 1fr [Details] 1fr [Erase] var(--item-height);
}

.toolbar .profile-popup+.toolbar-extensions .button-toolbar:not(.button-narrow):first-of-type:before {
  opacity   : 1 !important;
  background: #8c8d8f !important;
  height    : 16px !important;
}

.toolbar-extensions .HiddenToggleExtensionIcon {
  background-color: var(--colorAccentBg) !important;
}

.UrlBar-AddressField .OmniDropdown,
.UrlBar-SearchField .OmniDropdown,
.toolbar-mainbar .SearchField-Popup .OmniDropdown {
  top: 22px;
}

.UrlBar-AddressField .omni-clickable.OmniLinkItem.OmniLinkItem,
.UrlBar-SearchField .omni-clickable.OmniLinkItem.OmniLinkItem,
.toolbar-mainbar .SearchField-Popup .omni-clickable.OmniLinkItem.OmniLinkItem {
  height: 36px !important;
}

.UrlBar-SearchField .toolbar-insideinput,
.toolbar-mainbar .SearchField-Popup .toolbar-insideinput {
  margin-right: 6px;
}

.ignore-react-onclickoutside.OmniDropdown::-webkit-scrollbar {
  width: 0px !important;
}

span.OmniLinkItem-Details {
  color  : #ffffff;
  opacity: 0.85;
}

.omni-clickable.OmniLinkItem:hover span.OmniLinkItem-Details,
.omni-clickable.OmniLinkItem--Highlighted span.OmniLinkItem-Details {
  opacity: 1;
}

.OmniLinkItem-Favicon {
  background-color: var(--colorAccentBgFadedMore);
  height          : 28px;
  width           : 28px;
  border-radius   : 100%;
  padding         : 6px;
}

.OmniLinkItem-EraseButton svg {
  width : 22px !important;
  height: 22px !important;
}

.OmniLinkItem-EraseButton {
  height       : 28px !important;
  width        : 28px !important;
  padding      : 3px;
  border-radius: 100% !important;
  fill         : var(--colorHighlightFgAlpha) !important;
}

.OmniLinkItem-EraseButton:hover {
  background-color: var(--colorAccentBgFadedMore);
  fill            : var(--colorHighlightBgAlpha) !important;
}

.UrlBar-AddressField>.toolbar-insideinput:first-child,
.UrlBar-AddressField>.toolbar-insideinput:nth-child(2) {
  position: absolute;
  right   : 33px;
  z-index : 2;
}

.toolbar-small.toolbar-insideinput .button-toolbar:last-child {
  margin-left: 23px;
}

.UrlBar-PrivateWindowIndicator {
  background-color: var(--colorHighlightBg);
  border          : 1px solid var(--colorHightlightFg);
  height          : 19px;
  align-self      : center;
  margin-left     : 8px;
  color           : var(--colorHighlightFg);
}

.UrlBar-UrlFieldWrapper .UrlField>.UrlFragment-Wrapper {
  margin-top  : 0px !important;
  padding-top : 5px !important;
  padding-left: 18px !important;
}

progress.pageload-indicator::-webkit-progress-value {
  background-color: var(--colorHighlightBgAlpha) !important;
  border-radius   : 0px !important;
}

progress.pageload-indicator {
  opacity         : 0.5 !important;
  height          : 100% !important;
  margin          : 0px !important;
  margin-top      : -1px !important;
  border-radius   : var(--radius) !important;
  background-color: transparent !important;
}

.pageload.progress-done .pageload-indicator[value="100"] {
  opacity   : 0.0 !important;
  transition: 0.5s;
}

#main .SearchField nav.menu,
.toolbar-mainbar .SearchField-Popup nav.menu {
  top: 24px !important;
}

#main .SearchField nav.menu>ul,
.toolbar-mainbar .SearchField-Popup nav.menu>ul {
  background-color          : var(--colorAccentBgFadedMore);
  border-top-left-radius    : 0px !important;
  border-top-right-radius   : 0px !important;
  border-bottom-left-radius : 10px !important;
  border-bottom-right-radius: 10px !important;
  box-shadow                : none !important;
  padding                   : 0px !important;
  border                    : none !important;
}

#main .SearchField nav.menu>ul:before,
.toolbar-mainbar .SearchField-Popup nav.menu>ul:before {
  content: none !important;
}

#main .SearchField nav.menu>ul>li,
.toolbar-mainbar .SearchField-Popup nav.menu>ul>li {
  padding: 0px 5px !important;
}

#main .SearchField nav.menu>ul>li.selectedItem,
.toolbar-mainbar .SearchField-Popup nav.menu>ul>li.selectedItem {
  background-color: var(--colorHighlightBgAlpha);
}

#main .SearchField nav.menu>ul>li a,
.toolbar-mainbar .SearchField-Popup nav.menu>ul>li a {
  background-color: transparent !important;
  border          : none;
  height          : 36px;
}

#main .SearchField nav.menu>ul>li .menu-icon,
.toolbar-mainbar .SearchField-Popup nav.menu>ul>li .menu-icon {
  background-color: transparent;
  height          : 28px !important;
  width           : 28px !important;
  flex            : 0 0 28px;
  padding         : 6px;
  margin          : 0 !important;
  border-radius   : 100%;
}

#main .SearchField nav.menu>ul>li.selectedItem .menu-icon,
.toolbar-mainbar .SearchField-Popup nav.menu>ul>li.selectedItem .menu-icon {
  background-color: var(--colorAccentBgFadedMore);
}

.SearchField-Popup {
  --popupWidth    : 420px !important;
  left            : -179px;
  background-color: var(--colorAccentBg);
}

.SearchField-Popup::before {
  left               : 96% !important;
  border-bottom-color: var(--colorAccentBg) !important;
}

.UrlFragment-Wrapper--ShouldHighlight {
  --HighlightColor: var(--colorFg) !important;
  --LowlightColor : var(--colorAccentFgFaded) !important;
}

.toolbar.toolbar-mainbar.toolbar-extensions.toolbar-large {
  height: 27px !important;
}

.UrlBar-AddressField, .UrlBar-AddressField form input.url, .UrlBar-SearchField, .toolbar-mainbar .SearchField-Popup .SearchField {
  background-color: hsl(0deg 0% 0% / 68%) !important;
}

.color-behind-tabs-off .tab-position .tab.active .stack-counter {

  background-color: var(--colorBgDarker);
  color: var(--colorFg);
}

.OmniDropdown-Label {
  opacity: 0.7;
}

.button-toolbar button:hover {
    border-radius: 100% !important;
}
.panelbtn:hover {
  border-radius: 50% 0% 50% 50% !important;
}

.button-toolbar button, .panelbtn {
      transition: 0.7s;
}

.UrlBar-UrlFieldWrapper .observer .UrlField input {
  color: white !important;
}


#main .ContentBlocker-Blocked ul {
  padding: 3px 0 3px 6px;
  animation: dropfade 100ms linear;
  max-height: 90px;
  background-color: var(--colorAccentBg);
  overflow: auto;
}

.UrlBar .button-popup {
    background-color: var(--colorAccentBgDark) !important;
    color: var(--colorAccentFg) !important;
}