.bookmark-bar {
    background-color: var(--GXcolorAccent);
    height: 33px;
    box-shadow: none !important;
    border: none !important;
    margin-left: 40px;
  }
  
  .bookmark-bar .observer {
    border-left: 1px solid var(--colorAccentBg);
  }
  
  .bookmarkbarItem {
    border-radius: 0px !important;
    bottom: 5px;
    padding-top: 5px !important;
    padding-left: 8px !important;
    padding-right: 7px !important;
  }
  
  .bookmark-bar button svg.folder-icon {
    stroke: #e6e9eb !important;
    height: 12px;
    width: 12px;
  }
  
  .bookmark-bar button {
    background-color: var(--GXcolorAccent) !important;
  }
  
  .bookmarkbarItem:hover {
    background-color: var(--WButtonHoverBg) !important;
  }
  
  #browser.private .bookmarkbarItem:hover {
    background-color: #8a3d66 !important;
  }
  
  .address-top .toolbar-mainbar:after {
    height: unset;
  }