.bookmark-bar {
  background-color: var(--colorAccentBg);
  height          : 31px;
  box-shadow      : none !important;
  border          : none !important;
  margin-left     : 40px;
  border-left     : 1px solid var(--colorHighlightBg) !important;
}

.bookmark-bar .observer {
  border-left: 1px solid var(--colorAccentBg);
  align-items: center;
}

.bookmarkbarItem {
  border-radius: 0px !important;
  padding      : 0px 5px !important;
}

.bookmark-bar button svg.folder-icon {
  stroke: var(--colorFg) !important;
  height: 16px;
  width : 16px;
}

.bookmark-bar button {
  background-color: var(--colorAccentBg) !important;
  height          : 28px !important;
}

.bookmarkbarItem:hover {
  background-color: var(--WButtonHoverBg) !important;
}

.address-top .toolbar-mainbar:after {
  height: unset;
}