/*
        In this file, lies some stylezation that no longer works after update 3.3
*/

#browser.private .toolbar-addressbar>div:not(.UrlBar-AddressField) .button-toolbar>button:hover {
    background-color: #1b1921 !important;
}

.private .UrlBar-AddressField .addbookmark-cardwrapper .cardview textarea, .private .UrlBar-AddressField .addbookmark-cardwrapper .cardview input {
    background-color: var(--GXcolorAccentIncognito) !important;
    border: none !important;
    box-shadow: none !important;
}

.private .UrlBar-AddressField .addbookmark-cardwrapper .cardview textarea:focus-within, .private .UrlBar-AddressField .addbookmark-cardwrapper .cardview input:focus-within {
    background-color: var(--colorBg) !important;
}

#browser.private .UrlBar-AddressField:not(:hover):not(:focus-within):before, #browser.private .UrlBar-AddressField:not(:hover):not(:focus-within):after {
    color: #35303e !important;
}

.private .button-addressfield.SiteInfoButton.secure:hover svg {
    fill: #a0eb9b !important;
}

#browser.private .SiteInfoButton.insecure:hover svg {
    fill: inherit !important;
}

.private .UrlBar-AddressField button:hover:not(.SiteInfoButton) svg {
    fill: var(--GXcolorAccentFg) !important;
}